.section-div-titulo {
  margin-bottom: 1.5rem;
  position: relative;
}

.section-div-titulo h1 {
  color: var(--dark-gray-2);
  font-size: 24px;
}

.section-div-titulo a {
  color: var(--dark-gray);
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  transition: 0.3s;
}

.section-div-titulo a:hover {
  color: var(--primary);
  transition: 0.3s;
}
