@import "../../App.css";

.container2 {
  display: grid;
  grid-template-columns: 900px;
  justify-content: center;
  text-align: center;
}

.col-1 {
  display: flex;
  justify-content: space-around;
}

.icone {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  padding: 1rem;
}

.icone h3 {
  color: var(--dark-gray-2);
  font-size: 1rem;
  font-weight: 700;
}
