.Card {
  margin: 0 auto;
}

.CardImg {
  display: flex;
  max-width: 292px;
  height: 321px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: var(--white);
}

.Card img {
  border-radius: 4px;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.titulo {
  color: var(--dark-gray-2);
  margin-bottom: 10px;
  font-size: 20px;
}

.preco {
  color: var(--dark-gray);
  font-size: 24px;
}

.precoOriginal {
  color: var(--light-gray);
  text-decoration: line-through;
  padding-right: 10px;
  font-size: 24px;
}
