@import "../../App.css";

.Card {
  max-width: 293px;
}

.Card .CardImg {
  display: flex;
  height: 301px;
  background-color: var(--white);
  align-items: center;
  border-radius: 4px;
}

.Card img {
  max-width: 293px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.titulo {
  color: var(--dark-gray-2);
  margin-bottom: 10px;
  font-size: 20px;
}

.preco {
  color: var(--dark-gray);
  font-size: 24px;
}

.precoOriginal {
  color: var(--light-gray);
  text-decoration: line-through;
  padding-right: 10px;
  font-size: 24px;
}
