.home-page-slider {
  display: flex;
  background-color: var(--light-gray-3);
}

.slider-info {
  padding: 3.5rem 0 5rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider-info h4 {
  color: var(--warning);
}

.slider-info h1 {
  font-size: 64px;
  line-height: 66px;
  font-weight: 700;
  color: var(--dark-gray);
}

.slider-info p {
  font-size: 18px;
  line-height: 34px;
  color: var(--dark-gray-2);
}

.slider-info button {
  width: 200px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.slider-info button:hover {
  background-color: var(--tertiary);
  transition: 0.3s;
}

.slider-image img {
  width: 700px;
}
