@import "../../App.css";

.destaques {
  align-items: center;
}

.destaques .container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
}

.destaques .collection-1,
.collection-2,
.collection-3 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  height: 251px;
  width: 405px;
}

.destaques .collection-1 {
  background-image: url("/collection-1.png");
}

.destaques .collection-2 {
  background-image: url("/collection-2.png");
}

.destaques .collection-3 {
  background-image: url("/collection-3.png");
}

.destaques #oferta {
  height: 32px;
  width: 96px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  position: relative;
  text-align: center;
  background-color: #e7ff86;
  color: var(--dark-gray-2);
  border-radius: 1rem;
  font-weight: 700;
  padding: 0.4rem;
}

.destaques #btnComprar {
  position: relative;
  margin-top: 8rem;
  margin-left: 1.5rem;
  height: 48px;
  width: 153px;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.destaques #btnComprar:hover {
  color: var(--white);
  background-color: var(--primary);
  transition: 0.2s;
}
