@import "../../App.css";

nav {
  margin-top: 2rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav li {
  cursor: pointer;
}

nav li a {
  color: var(--dark-gray-2);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

nav li a:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
  transition: 0.2s;
}
