@import "../../App.css";

.su-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 2rem 16rem;
  max-width: 1440px;
}

.su-wrapper h1 {
  color: var(--dark-gray);
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
}
