footer {
  padding: 0 3.5rem;
  background-color: var(--dark-gray);
  color: var(--white);
  
}

footer .footer-wrapper {
  padding: 3.5rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto 2rem;
}

footer h4 {
  margin-bottom: 2rem;
}

footer p,
address {
  line-height: 26px;
}

footer ul {
  list-style-type: none;
}

footer li {
  line-height: 38px;
}

footer .descricao {
  width: 20rem;
}

footer .descricao p {
  margin: 2rem 0;
}

footer .social-icons {
  display: flex;
  gap: 2rem;
}

footer .info-categorias {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

footer .contato {
  width: 15rem;
}

footer .contato address {
  font-style: normal;
  margin-bottom: 1rem;
}

footer .copyright {
  padding: 2rem;
  text-align: center;
}
