.Card {
  margin: 0 auto 0.5rem;
  flex-wrap: wrap;
  max-width: 266px;
}

.CardImg {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: var(--white);
  border: 2px solid var(--white);
  transition: 0.3s;
  box-shadow: 6px 16px 30px 0px #6962620d;
}

.CardImg:hover {
  border: 2px solid var(--primary);
  transition: 0.3s;
}

.Card img {
  border-radius: 4px;
  margin-bottom: 1rem;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.Card a {
  text-decoration: none;
}

.titulo {
  color: var(--dark-gray-2);
  margin-bottom: 8px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.titulo:hover {
  color: var(--primary);
  text-decoration: none;
  transition: 0.3s;
}

.precoOriginal {
  color: var(--light-gray);
  text-decoration: line-through;
  padding-right: 10px;
  font-size: 18px;
}

.precoDesconto {
  font-size: 18px;
  color: var(--dark-gray);
  font-weight: 700;
}
