header {
  padding: 2rem 3.5rem;
  background-color: var(--white);
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  gap: 2rem;
}

header .logo {
  display: flex;
  margin-top: 0.4rem;
}

header #search {
  background-color: var(--light-gray-3);
  display: flex;
  width: 559px;
  border-radius: 8px;
  padding: 0 1rem 0 1.5rem;
}

header #search #pesquisa {
  height: 60px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  color: var(--dark-gray);
  font-size: 16px;
}

header #search button {
  margin: 0 1rem;
  width: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

header #search input::placeholder {
  color: var(--dark-gray-3);
  opacity: 60%;
}

header .redirect {
  display: flex;
  align-items: center;
}

header .redirect a {
  width: 105px;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  color: var(--dark-gray-2);
  margin-right: 1rem;
  transition: 0.3s;
}

header .redirect a:hover {
  color: var(--primary);
  transition: 0.3s;
}

header .redirect button {
  padding: 10px 20px;
  width: 114px;
  height: 40px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 1rem;
  transition: 0.3s;
}

header .redirect button:hover {
  background-color: var(--tertiary);
  transition: 0.3s;
}

header .carrinho {
  display: flex;
}

header .carrinho button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.user-menu {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--dark-gray-2);
  font-weight: 700;
}

.user-name {
  cursor: pointer;
  transition: 0.3s;
}

.user-name:hover {
  color: var(--primary);
  transition: 0.3s;
}

.user-icon {
  margin: 0 0.5rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--light-gray-3);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  top: 100%;
  right: 0;
  justify-content: center;
}

.dropdown-menu a {
  text-decoration: none;
  color: var(--white);
}

.dropdown-menu button {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  height: 1.5rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin-right: 1rem;
  transition: 0.3s;
}

.dropdown-menu button:hover {
  background-color: var(--tertiary);
  transition: 0.3s;
}
